.about {
    position: relative
}
.about h1 {
    font-size: 1.1em;}
.about .about__title {
    margin-bottom: 0
}
.about .about__description {
    font-size: 0.750em;
    margin-top: .31em
}

.boxcardtext {
  margin-left: 8px;
  position: relative;
padding: 9px;width: 100%;}

.buycoffee {
  margin-top: 50px;
  padding: -8px 0 0 -20px;
}

.photo {
  align-items: center;
  border:1px solid 
  text-align: center;
  display: flex;
}
.photo img {
  border-radius: 50%;
  border: 1.5px solid white;
  width: 64px;
  display: inline-flex;}

img {}


.bmc-btn-container {
    margin: auto;
    width:50%; 
    animation: fadeInDown; 
    animation-duration:3s;
}

.contact {
    display: flex;
    margin-top: 19px;
}

.contact a {
    border-bottom: 0;
    font-size: 1.77em;
    margin-right: 1.60em;
    padding-bottom: 0
}
.contact a:hover {
    color: #0057a2
}
article header>h2 {
    font-size: 1.125em;
    font-weight: 700
}
article:after {
    clear: both;
    content: "";
    display: block
}
@media screen and (max-width:530px) {
    .about__title {
        font-size: 1.77em
    }
    .about__description {
        font-size: 1.333em
    }
}
html {
    /* background: #0073d5; */
    font-size: 16px;
    margin: 0;
    width: 100%;
}

body {
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    line-height: 1.45;
    margin: 0;

    padding: 8px 0 0 20px;
    max-width: 384px;}

.box {
    border-radius: 50px / 15px;
}

.wrapper {
    align-items: center;
    margin: 6px;
    padding: 19px;
    border-radius: 15px 35px 15px 15px;
    background: #0073d5;
    box-shadow: 6px 6px 8px #888787bf;
    font-size: 14px;

    animation: flipInY; 
    animation-duration:3s; 
      
}

a {
    border-bottom: 1px solid;
    color: #fff;
    padding-bottom: 5px;
    text-decoration: none
}
p {
    margin-bottom: 1.3em
}
h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.4
}
h1 {
    margin-top: 0;
    font-size: 2.369em
}

.logo {
  height: 34px;
  width: 80px;
}
